@model SendMessageModel
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/WriterLayot.cshtml";
}

<h1> Mesaj Gonder </h1>
<br />
@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    @Html.Label("Alici maili")
    @Html.TextBoxFor(x => x.ReceiverMail, new { @class = "form-control" })
    <br />

    @Html.Label("Konu")
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Subject)
    <br />
    
    @Html.Label("Mesaj")
    @Html.TextAreaFor(x => x.Message,3,10, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Message)
    <br />
    <button class="btn btn-info">
        Blogu Kaydet
    </button>
}

